*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 87.5%; /* (14px / 16px) * 100% = 87.5% */
}

a {
  color: unset;
  text-decoration: none;
}
