*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  overflow-x: hidden;
}

html {
  font-size: 14px;
}

/* Smaller font size for medium screens (e.g., tablets) */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px; /* Adjust as needed */
  }
}

/* Smaller font size for large screens (e.g., small laptops) */
@media screen and (max-width: 900px) {
  html {
    font-size: 12px; /* Adjust as needed */
  }
}

a {
  color: unset;
  text-decoration: none;
}
